[submodule "submodules/memcached"]
	path = submodules/memcached
	url = git@github.com:grb72t3yde/memcached.git
[submodule "submodules/YCSB"]
	path = submodules/YCSB
	url = git@github.com:grb72t3yde/YCSB.git
[submodule "submodules/prim-benchmarks"]
	path = submodules/prim-benchmarks
	url = git@github.com:grb72t3yde/prim-benchmarks.git
